name: Build

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.9 ]

    env:
      USING_COVERAGE: "3.9"

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9.4"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install isort black coverage flake8 flit mccabe mypy pytest tox tox-gh-actions
      - name: Run tox
        run: |
          python -m tox
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        if: contains(env.USING_COVERAGE, matrix.python-version)
        with:
          fail_ci_if_error: true